.glow {
    font-size: 80px;
    color: #cac5c5;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

body {
    background-color: rgb(3, 3, 3);
    color: silver;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #29b463, 0 0 20px #4d8bdb, 0 0 30px #523ccc, 0 0 40px #4a2bbd, 0 0 50px #219a9e, 0 0 60px #2f19af, 0 0 70px #32f1ff;
    }

    to {
        text-shadow: 0 0 20px #1c0c3a, 0 0 30px #0e0f4d, 0 0 40px #1f1257, 0 0 50px #8453d3, 0 0 60px #ece6e6, 0 0 70px #ff3aff, 0 0 80px #ae00ff;
    }
}

.my_left_panel {
    float: left;
    border: 1px solid #ffffff;
    color: #02f553;
}

.my_right_panel {
    float: right;
    border: 1px solid #ffffff;
    color: red;
}