.glow {
    font-size: 80px;
    color: #cac5c5;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

html,
body {
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    color: silver;
    height: 100%;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #e5ff00, 0 0 20px #fa0101, 0 0 30px #ffffff, 0 0 40px #0dff05, 0 0 50px #03eeff, 0 0 60px #84a7f1, 0 0 70px #0400ff;
    }

    to {
        text-shadow: 0 0 20px #de37ff, 0 0 30px #ff39ee, 0 0 40px #f5679d, 0 0 50px #ff1327, 0 0 60px #e3f307, 0 0 70px #32ff20, 0 0 80px #c0bff7;
    }
}

.my_left_panel {
    float: left;
    border: 1px solid #ffffff;
    color: #02f553;
}

.my_right_panel {
    float: right;
    border: 1px solid #ffffff;
    color: red;
}

.my-title {
    height: 75px;
    overflow: hidden;
    font-size: 70px;
}

.log {
    border: 1px solid rgb(255, 0, 0);
    height: 400px;
    overflow-y: auto;
    padding: 5px;
}

.magic_button {
    width: 40px;
}

.some_input {
    width: calc(100% - 60px);
}

.input-container {
    /* border: 1px solid red; */
    height: 30px;
}

.chat-container {
    /* border: 1px solid red; */
    height: calc(100% - 30px)
}